.header {
    margin-top: 8vh;
    padding: toRem(20px);
    text-align: center;
    max-width:toRem(530px);
    min-width: toRem(350px);;

    &__emphasis {
        font-weight: 600;
    }


    &__title {

        p {
            margin: 0px;
            font-size: $font-xlg;
            font-weight: 400;
        }
    }

    &__subtitle {
        text-align: center;
        font-weight: 400;
    }
}